.tips-grid{
    max-width: 980px;
    width: 100%;
    display: flex;
    margin: 1rem 0;
    overflow-x: scroll;
    padding: 0 0 24px 0;
}
.tip{
    display: flex;
    flex-direction: column;
    background-color: var(--apple-bg1);
    border-radius: 4px;
    width: 16rem;
    min-width: 16rem;
    overflow: hidden;
    padding: 16px;
    transition: 0.25s;
    margin: 0 16px 0 0;
    color: var(--apple-label1);
}
@media screen and (max-width: 768px){
    .tip{
        margin: 0 0 0 16px;
    }
}
.tip:hover{
    background-color: var(--apple-blue);
    color: white;
}
.tip-red:hover{
    background-color: #cc2831;
}
.tip-title{
    font-weight: bold;
    color: inherit;
    font-size: 1.2rem;
    margin: 4px;
}
.tip-note{
    color: inherit;
    margin: 4px;
}
main{
    background-color: var(--apple-bg1);
    height: 360px;
    width: 100%;
    /* max-width: 1012px; */
    max-width: 980px;
    border-radius: 4px;
}
#particles-js{
    height: 120px;
    width: 100%;
    background-color: #24292f;
}
