body{
    background: url(./assets/img/civ6.jpg) no-repeat;
    background-size:cover;
    margin: 0;
}
.nav-bar{
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(8px);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
}
.nav-item{
    
    margin: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-item svg{
    height: 1.2rem;
    margin: 0px 8px;;
}
.nav-item span{
    font-family: Arial;
    font-weight: bold;
}
.content div{
    background-color: white;
    height: 40px;
    width: 120px;
    margin: 24px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}