body{
    /* background: url(../assets/img/civ6.jpg) no-repeat; */
    background-size:cover;
    background-color: --apple-gray6;
    margin: 0;
}
.globalnav{
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255,255,255,0.72);
    position: sticky;
    top: 0;
    left: 0;
}
.globalnav-content{
    width: 80vw;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo-area{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 900;
    margin: 0 64px 0 0;
}
.logo-area span{
    color: var(--apple-brown);
    margin: 0 4px;
    font-size: 1.2rem;
}
.globalnav img{
    height: 24px;
}

ul{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
}
ul > li {
    display: inline;
    margin: 0 24px;
    float: left;

}
.nav-link-text{
    color: var(--apple-label2);
}

.content div{
    background-color: white;
    height: 4000px;
    width: 120px;
    margin: 24px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}