body{
    /* background: url(../assets/img/civ6.jpg) no-repeat; */
    background-size:cover;
    background-color: --apple-gray6;
    margin: 0;
}
.navbar{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
}
.globalnav{
    height: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    backdrop-filter: saturate(180%) blur(20px);
    background: rgba(240,240,240,0.8);
    position: fixed;
    top: 0rem;
    transition: 0.1s;
}
.globalnav-content{
    width: 80vw;
    max-width: 980px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo-area{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 900;
    margin: 0 64px 0 0;
}
.logo-area span{
    color: var(--apple-brown);
    margin: 0 4px;
    font-size: 1.2rem;
}
.globalnav img{
    height: 32px;
}

ul{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
}
ul > li {
    display: inline;
    margin: 0 24px;
    float: left;
}
.nav-link-text{
    color: var(--apple-label2);
    font-size: 16px;
}

.localnav{
    height: 3rem;
    width: 100%;
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255,255,255,0.72);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 3rem;
    transition: 0.1s;
}
.localnav-content{
    width: 80vw;
    max-width: 980px;
}
.localnav-title {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}
.localnav-title a{
    color: var(--apple-label1);
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 10vw;
}
.tips-area{
    max-width: 980px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* background-color: antiquewhite; */
    padding: 1rem 0;
    margin: 1rem 0;
}
.tip{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    border: 1px solid var(--apple-separator);
    width: 12rem;
    overflow: hidden;
    padding: 8px;
    transition: 0.25s;
    color: black;
}
.tip:hover{
    background-color: var(--apple-brown);
    color: white;
}
.tip-title{
    font-weight: bold;
    color: inherit;
    font-size: 1.2rem;
    margin: 4px;
}
.tip-note{
    color: inherit;
    margin: 4px;
}
main{
    background-color: var(--apple-bg1);
    height: 1000px;
    width: 100%;
    max-width: 980px;
    border-radius: 4px;
    border: 1px solid var(--apple-separator);
}

