body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tool-card{
    margin: 16px;
}
form{
    background-color: var(--apple-bg1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.form-group{
    margin: 8px 0;
}
.form-group-body input{
    width: 10rem !important;
}
.form-group-body select{
    width: 4rem;
}
.tool-card-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.tool-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.tool-footer button{
    margin: 16px;
}
