body{
    background-color: #1b2838;
}
h1 {
    color: white;
    margin: 24px;
}
.item{
    width: 100%;
    margin: 12px;
}
.item img{
    width: 160px;
    height: 240px;
}
.item h2{
    font-family: '思源黑体';
    font-weight: bold;
    color: white;
    font-size: 16px;
}
.item p{
    font-family: '思源黑体';
    font-weight: bold;
    font-size: 16px;
    color: white;
}
.item div {
	position: relative;
	float: left;
	width: 160px;
	height: 240px;
	margin: 12px 12px 108px 12px;
    text-align: center;
}
.item div img{
    width: 160px;
    height: 240px;
    margin: 0px;
}
figure {
	width: 160px;
	height: 240px;
	overflow: hidden;
    border-radius: 4px;
    margin: 0px;
}
ul{
    text-decoration: none;
    list-style: none;
    padding: 0px;
}
ul > li {
    font-size: 20px;
    display: inline;
}
.rank-rated{
    color: gold;
}
.rank-notrated{
    color: gray;
}
.rank-halfrated{
    background: linear-gradient(to right, gold 50%, gray 50%);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navItem{
    display: flex;
    align-items: center;
}
.navItem svg{
    height: 36px;
    margin: 8px;
}

a{
    color: white;
    text-decoration: none;
}

/* 以下是侧边导航 */
.wrap{
    align-items: center;
    justify-content: center;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 400px;
}
.sideBar{
    width: 80px;
    background-color: red;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.5s;
}
.sideBar:hover {
    width: 200px;
}
.sideBar:hover .sideLine{
    width: 160px;
}
.avatar{
    /* margin: 12px; */
    display: flex;
}
.avatar div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid rgba(255,255,255,0.5);
    overflow: hidden;
}
.avatar div img{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}
/* .avatar p{
    opacity: 0;
} */
.sideLine{
    height: 2px;
    width: 24px;
    margin: 24px;
    background-color: white;
    opacity: 75%;
    transition: 0.5s;
}
.sideMenu{
    background-color: blue;
    width: 120px;
}
.menuItem{
    display: flex;
    align-items: center;
    margin: 6px 6px 6px 6px;
    justify-content: space-around;
    width: 120px;
    border-radius: 4px;
    transition: 0.5s;
    position: relative;
}
.menuItem:hover{
    background-color: green;
}
.menuItem embed{
    width: 24px;
    margin: 8px;
}
.menuItem span{
    color: white;
    font-weight: bold;
    transition: 0.5s;
    opacity: 0;
}
.sideBar:hover .menuItem span{
    opacity: 1;
}
.focus{
    width: 6px;
    height: 30px;
    background-color: yellow;
    position: absolute;
    left: -6px;
    transition: 0.5s;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    opacity: 0;
}
.menuItem:hover .focus{
    opacity: 1;
}