body{
    background-color: #1b2838;
}
.content{
    display: flex;
    flex-direction: row;
    margin: 64px 12px;
}
h1 {
    color: white;
    margin: 24px;
}
.item{
    width: 100%;
    margin: 12px;
}
.item img{
    width: 160px;
    height: 240px;
}
.item h2{
    font-family: '思源黑体';
    font-weight: bold;
    color: white;
    font-size: 16px;
}
.item p{
    font-family: '思源黑体';
    font-weight: bold;
    font-size: 16px;
    color: white;
}
.item div {
	position: relative;
	float: left;
	width: 160px;
	height: 240px;
	margin: 12px 12px 108px 12px;
    text-align: center;
}
.item div img{
    width: 160px;
    height: 240px;
    margin: 0px;
}
figure {
	width: 160px;
	height: 240px;
	overflow: hidden;
    border-radius: 4px;
    margin: 0px;
}
ul{
    text-decoration: none;
    list-style: none;
    padding: 0px;
}
ul > li {
    font-size: 20px;
    display: inline;
}
.rank-rated{
    color: gold;
}
.rank-notrated{
    color: gray;
}
.rank-halfrated{
    background: linear-gradient(to right, gold 50%, gray 50%);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navItem{
    display: flex;
    align-items: center;
}
.navItem svg{
    height: 36px;
    margin: 8px;
}

a{
    color: white;
    text-decoration: none;
}

/* 以下是侧边导航 */
.wrap{
    align-items: center;
    justify-content: left;
    display: flex;
}
.sideBar{
    width: 60px;
    background-color: #1b2838;
    border: 2px solid white;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}
.sideBar:hover {
    width: 180px;
}
.sideBar:hover .sideLine{
    width: 156px;
}
.avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 4px 4px 4px;
}
.avatar div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    overflow: hidden;
}
.avatar div img{
    width: 40px;
    border-radius: 50%;
}
.avatar p{
    font-size: 16px;
    color: white;
    font-weight: bold;
}
.sideLine{
    height: 2px;
    width: 36px;
    margin: 12px;
    border-radius: 1px;
    background-color: white;
    transition: 0.5s;
}
.sideMenu{
    width: 156px;
    margin: 12px 12px 36px 12px;
    display: flex;
    flex-direction: column;
}
.menuItem{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 6px 0px 6px 0px;
    width: 156px;
    height: 40px;
    border-radius: 4px;
    transition: 0.5s;
    position: relative;
}
.menuItem:hover{
    background-color: grey;
}
.menuItem embed{
    width: 20px;
    height: 20px;
    margin: 8px;
}
.menuItem span{
    color: white;
    font-weight: bold;
    margin: 0px 12px;
    transition: 0.5s;
    opacity: 0;
}
.sideBar:hover .menuItem span{
    opacity: 1;
}
.focus{
    width: 4px;
    height: 40px;
    background-color: yellow;
    position: absolute;
    left: 0px;
    transition: 0.5s;
    border-radius: 2px;
    opacity: 0;
}
.menuItem:hover .focus{
    opacity: 1;
}