.main{
    width: 100%;
}
.container{
    background-color: var(--apple-bg3);
    width: 100%;
    max-width: 840px;
    height: 120px;
    margin: 12px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
    transition: .2s ease-in-out;
}
.container:hover{
    box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.2);
}
.container div{
    margin: 12px;
    display: flex;
    align-items: center;
}
.container div img{
    height: 90px;
    width: 160px;
    object-fit: cover;
}
.container div div{
    margin: 24px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.container div div h3{
    margin: 4px 0px;
    color: var(--apple-label1);
}
.container div div span{
    margin: 4px 0px;
    color: var(--apple-label2);
}


@media screen and (max-width: 600px){
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 24px;
    }
    .container{
        height: 120px;
        margin: 12px 0px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 4px;
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
    }
    .container:hover{
        box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.2);
    }
    .container div{
        margin: 12px;
        display: flex;
        align-items: center;
    }
    .container div img{
        height: 90px;
        width: 160px;
        object-fit: cover;
    }
    .container div div{
        margin: 24px;
        height: 90px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }
    .container div div h3{
        margin: 4px 0px;
    }
    .container div div span{
        margin: 4px 0px;
    }
    
    /* 以下测试正文 */
    
    .container{
        height: auto;
        width: auto;
    }
    .container div{
        display: flex;
        flex-direction: column;
    }
    .container div img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .container div div{
        margin: 12px 12px 0px 12px;
        height: auto;
    }
}

