.hover figure img {
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
	object-fit: cover;

}
.hover figure:hover img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.hover div:hover .overlay {
	opacity: 0.7;
}
.overlay{
	position:relative; 
	top:-348px;
	bottom:-12px;
	left:-12px;
	right:-12px;
	height:100%;
	width:100%;
	opacity:0;
	transition:0.25s ease;
	background-color:black;
	margin: 0px;
}
.item div note{
    font-family: '思源黑体';
    font-size: 16px;
    color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}