.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 24px;
}
.timeline{
    display: flex;
    flex-direction: column;
    margin: 36px;
    padding: 48px;
    border-radius: 4px;
    background-color: white;
    height: auto;
    width: 240px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.timeline:hover{
    box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.2);
}
.timeline div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.timeline div span{
    margin: 0px 0px 0px 12px;
}
.marker{
    background-color: black;
    height: 12px;
    width: 12px;
    border-radius: 50%;
}
.markerline{
    background-color: #d1d1d6;
    height: 60px;
    width: 2px;
    margin: 5px;
    border-radius: 2px;
}