.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.main h2{
    margin: 0px 24px;
}
.main .container{
    background-color: white;
    width: 840px;
    height: 120px;
    margin: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.main .container img{
    width: 160px;
    height: 90px;
    object-fit: cover;
}
