body{
    background-color: var(--apple-bg2);
    margin: 0;
    display: flex;
    flex-direction: column;
}
h2, h3, h4, p, span{
    color: var(--apple-label1);
}

.navbar{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    background-color: var(--apple-bg1);
    /* backdrop-filter: saturate(180%) blur(20px); */
}
.navbar-content{
    width: 90vw;
    max-width: 980px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 1.6rem;
    margin: 0 12px;
}
.navbar-link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar-link-text{
    color: var(--apple-label2) !important;
    font-size: 1rem;
    margin: 0 24px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    margin: 4rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
footer hr{
    width: 80%;
}


