*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}
body{
    background-color: #f2f2f7;
}
.content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 24px 12px;
}

body div .content .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing:border-box;
    padding: 0px 48px;
}
a{
    color: black;
    text-decoration: none;
}

/* 以下是导航栏 */
.wrap{
    align-items: center;
    justify-content: left;
    display: flex;
}
.sideBar{
    width: 60px;
    border: 1.5px solid black;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.sideBar:hover {
    width: 180px;
}
.sideBar:hover .sideLine{
    width: 156px;
}
.avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 4px 4px 4px;
}
.avatar div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1.5px solid black;
    overflow: hidden;
}
.avatar div img{
    width: 40px;
    border-radius: 50%;
}
.avatar p{
    font-size: 16px;
    color: black;
    font-weight: bold;
}
.sideLine{
    height: 2px;
    width: 36px;
    margin: 12px;
    border-radius: 1px;
    background-color: black;
    transition: 0.5s;
}
.sideMenu{
    width: 156px;
    margin: 12px 12px 36px 12px;
    display: flex;
    flex-direction: column;
}
.menuItem{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 6px 0px 6px 0px;
    width: 156px;
    height: 40px;
    border-radius: 4px;
    transition: 0.5s;
    position: relative;
}
.menuItem:hover{
    background-color: #e5e5ea;
}
.ionicon {
    height: 24px;
    width: 24px;
    margin: 8px;
    fill: #007aff;
}
.menuItem span{
    color: black;
    font-weight: bold;
    margin: 0px 12px;
    transition: 0.5s;
    opacity: 0;
}
.sideBar:hover .menuItem span{
    opacity: 1;
}
.menuItem span{
    opacity: 1;
}
.focus{
    width: 4px;
    height: 40px;
    background-color: #007aff;
    position: absolute;
    left: 0px;
    transition: 0.5s;
    border-radius: 2px;
    opacity: 0;
}
.menuItem:hover .focus{
    opacity: 1;
}


@media screen and (max-width: 600px){
    body{
        background-color: #f2f2f7;
    }
    .content{
        display: flex;
        flex-direction: column;
        margin: 24px 12px;
        align-items: center;
    }
    .sideBar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 48px;
        width: 320px;
        border: 1.5px solid black;
        border-radius: 8px;
        background-color: white;
    }
    .ionicon{
        display: none;
    }
    .avatar{
        display: none;
    }
    .sideLine{
        display: none;
    }
    .sideBar:hover {
        width: 320px;
    }
    .sideMenu{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: auto;
        margin: 0;
    }
    .menuItem{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 6px 0px 6px 0px;
        width: 60px;
        height: 40px;
        border-radius: 4px;
        transition: 0.5s;
    }
    .menuItem span{
        opacity: 1;
    }
    .menuItem span a {
        color: black;
        text-decoration: none;
    }
    .focus{
        display: none;
    }
}
