html, body, content{
    height: 100%;
}
body div{
    height: 100%;
    display: flex;
    justify-content: flex-start;
}
.wrap{
    height: auto;
    justify-self: flex-start;
}
.main{
    background: url(/assets/svg/863310.svg) no-repeat;
    background-size: contain;
}
.box{
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}
.child{
    width: auto;
    height: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 60px;
    color: white;
    /* text-shadow: 0 0 2px black; */
    -webkit-text-stroke: 1px black;
    transform: translateX(1200px);
    animation: scrollTo linear 4s infinite
}
.child-1{
    transform: translateX(1000px);
}

@keyframes scrollTo {
    to{
        transform: translateX(-100px);
    }
}