/* 引入字体 */
@font-face {
    font-family: "ZLMLDKT";
    src: url(font/ZLMLDKT.otf);
}

/* 正文 */
h2{
    margin: 2rem 0 1rem 0;
}
.mainArea{
    padding: 24px;
    background-color: var(--apple-bg3);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: left;
}
@media screen and (min-width: 600px){
    .mainArea{
        width: 360px;
    }
}
@media screen and (max-width: 600px){
    .content{
        padding: 1rem 0vw;
    }
    .mainArea{
        width: 100%;
        max-width: 360px;
        padding: 24px 24px;
    }
}
.mainArea h3{
    margin: 12px 0px;
}
.mainArea h4{
    margin: 6px 0px 0px 0px;
}

.container{
    background-color: #cc2831;
    height: auto;
    min-height: 60px;
    width: 100%;
    margin: 12px 0px;
    border-radius: 4px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding: 12px 0px;
}

input{
    border: 1.5px solid var(--apple-separator);
    border-radius: 4px;
    background-color: var(--apple-bg2);
    color: var(--apple-label1);
    font-size: 16px;
    margin: 12px 0px;
    height: 40px;
}
input:focus{
    outline: 2px solid var(--apple-red);
    border: 1.5px solid rgba(0, 0, 0, 0);
}
.container p{
    width: auto;
    align-items: center;
    font-family: ZLMLDKT;
    font-size: 18px;
    line-height: 1.8;
    margin: 12px 18px;
    color: #f4eee2;
}
.quotesshow{
    height: auto;
    text-align: justify;
}
.quotesfrom{
    text-align: end;
}
.mainArea button{
    margin: 12px 0px;
    align-self: center;
}
#holder{
    margin: 12px 0px 24px 0px;
    object-fit: cover;
}
.check-back{
    display: flex;
    flex-direction: column;
}
.check-back-box{
    display: flex;
    flex-direction: row;
}
.check-back-box div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 6px;
}
.check-back-box div label{
    font-weight: bold;
    margin: 0px 6px;
}
#checkcm{
    color: #cc2831;
}
#checkch{
    color: #007d1b;
}
#checkyj{
    color: #3d489a;
}
